.mailform{
    position: fixed;
    display: grid;
    align-items: center;
    height: 10cm;
 
    overflow-wrap: break-word;


    width: 77%;
    padding: 10px;
    margin-left: 22%;
    margin-right: 10%;
    
}
.receiver{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="5" y="19" style="font: bold 16px Arial;">To:</text></svg>') no-repeat;
    border: 1px solid white;
    outline: none;
   border-bottom:1px solid grey;
    font: 16px "Arial";
    height: 30px;
    margin: 10px;
    padding-left: 50px;
    width: 100%;
  }
  .subject{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="30"><text x="5" y="19" style="font: bold 16px Arial;">Subject:</text></svg>') no-repeat;
    border: 1px solid white;
    border-bottom:1px solid grey;
    outline: none;
    font: 16px "Arial";
    height: 30px;
    margin: 10px;
    padding-left: 100px;
    width: 100%;
  }
 