.div{
    position: relative;
  
    display: grid;
    align-items: center;
    padding: 10px;
    margin-left: 20%;
    margin-right: 10%;
    
}
.div input {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="5" y="19" style="font: bold 16px Arial;">To:</text></svg>') no-repeat;
    border: 1px solid #555;
    box-sizing: border-box;
    font: 16px "Arial";
    height: 30px;
    margin: 10px;
    padding-left: 50px;
    width: 100%;
  }